{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to natural disaster: Tell us the date of the incident
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "/choose-appeal-reason"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
            titleText: "There was a disaster with the date you gave us",
            errorList: errorList
          }) }}
        {% endif %}

        {% if errorList.length > 0 %}
          {% set disasterDateError = {
            text: disasterDateErr.text
          } %}
        {% else %}
          {% set disasterDateError = false %}
        {% endif %}

        {% set hintHTML %}
        For example, 31 8 2018
        {% endset -%}

        {{ govukDateInput({
          id: "disaster-date",
          namePrefix: "disasterDate",
          errorMessage: disasterDateError,
          fieldset: {
            legend: {
              text: "When did the incident happen?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
                html: hintHTML
              },
                items: [
                    {
                      classes: "govuk-input--width-2",
                      id: 'disaster-date-day',
                      value: disasterDate.day,
                      name: 'day'
                    },
                    {
                      classes: "govuk-input--width-2",
                      id: 'disaster-date-month',
                      value: disasterDate.month,
                      name: 'month'
                    },
                    {
                      classes: "govuk-input--width-4",
                      id: 'disaster-date-year',
                      value: disasterDate.year,
                      name: 'year'
                    }
            ]
          })
        }}

        {{ govukInput({
          id: "editId",
          name: "editId",
          type: "hidden",
          value: id
        }) }}

        {{ govukButton({
         text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}