{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to natural disaster: Tell us about the disaster
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
      text: "Back",
      href: 'about-the-disaster'
    }) }}
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
              titleText: "There was a problem with your appeal information",
              errorList: errorList
            }) }}
          {% endif %}

          <form action="" method="post">

            {% if errorList.length > 0 %}
              {% set natureOfDisasterError = {
                text: natureOfDisasterErr.text
              } %}
            {% else %}
              {% set natureOfDisasterError = false %}
            {% endif %}

            {% set hintHTML %}
            Anything you tell us to support your appeal will be kept confidential.
            {% endset -%}

            <h1 class="govuk-heading-xl">How did this affect your ability to file on time?</h1>
            {{ govukTextarea({
              name: "natureOfDisaster",
              id: "nature-of-disaster",
              errorMessage: natureOfDisasterError,
              value: natureOfDisaster,
              rows: '12',
              label: {
                text: "Anything you tell us to support your appeal will be kept confidential.",
                isPageHeading: false,
                classes: 'govuk-heading-large'
              }
            }) }}

            {{ govukInput({
                      id: "editId",
                      name: "editId",
                      type: "hidden",
                      value: id
                    }) }}

            {{ govukButton({
              text: "Continue"
            }) }}
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}