{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: Tell us more about the illness
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

    {% set backLinkHref %}
    {{ backLink }}
    {% endset -%}

    {{ govukBackLink({
      text: "Back",
      href: backLinkHref
    }) }}
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
              titleText: "There was a problem with your appeal information",
              errorList: errorList
            }) }}
          {% endif %}

          <form action="" method="post">

            {% if errorList.length > 0 %}
              {% set provideDetailError = {
                text: provideDetailErr.text
              } %}
            {% else %}
              {% set provideDetailError = false %}
            {% endif %}

            {% set hintHTML %}
            Anything you tell us to support your appeal will be kept condfidential.
            {% endset -%}

            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "about-the-illness",
              name: "provideDetail",
              errorMessage: provideDetailError,
              fieldset: {
                legend: {
                  text: 'Do you want to tell us about the illness?',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              hint: {
                html: hintHTML
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Continue"
            }) }}
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}