{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: Tell us when the illness started
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
      text: "Back",
      href: "who-was-ill"
    }) }}
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
              titleText: "There was a problem with the date you gave us",
              errorList: errorList
            }) }}
          {% endif %}

          <form action="" method="post">

            {% if errorList.length > 0 %}
              {% set startDateError = {
                text: startDateDayErr.text
              } %}
            {% else %}
              {% set startDateError = false %}
            {% endif %}

            {{ govukDateInput({
              id: 'illness-start',
              name: 'illnessStart',
              errorMessage: startDateError,
              fieldset: {
                legend: {
                  text: 'When did the illness start?',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              hint: {
                text: 'For example, 15 August 2018'
              },
              items: [
                {
                  name: 'day',
                  id: 'illness-start-day',
                  value: startDate.day,
                  classes: inputClasses.day
                },
                {
                  name: 'month',
                  id: 'illness-start-month',
                  value: startDate.month,
                  classes: inputClasses.month
                },
                {
                  name: 'year',
                  id: 'illness-start-year',
                  value: startDate.year,
                  classes: inputClasses.year
                }
              ]
              })
            }}
            {{ govukButton({
              text: "Continue"
            }) }}
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}