{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: Who was ill?
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
      text: "Back",
      href: "/choose-appeal-reason"
    }) }}
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
              titleText: "There was a problem with your appeal information",
              errorList: errorList
            }) }}
          {% endif %}

          <form action="" method="post">

            {% if errorList.length > 0 %}
              {% set illPersonError = {
                text: illPersonErr.text
              } %}
            {% else %}
              {% set illPersonError = false %}
            {% endif %}

            {% if errorList.length > 0 %}
              {% if illPersonErr.type === 'invalid' %}
                {% set otherPersonError = true %}
              {% else %}
                {% set otherPersonError = false %}
              {% endif %}
            {% endif %}

            {% set someoneElseInput %}
            {{ govukInput({
              id: "other-ill-person",
              name: "otherIllPerson",
              classes: "",
              errorMessage: otherPersonError,
              label: {
                text: "Their relationship to the company"
              }
            }) }}
            {% endset -%}

            {{ govukRadios({
              idPrefix: "ill-person",
                name: "illPerson",
                errorMessage: illPersonError,
                fieldset: {
                  legend: {
                    text: 'Who was ill?',
                    isPageHeading: true,
                    classes: 'govuk-fieldset__legend--xl'
                  }
                },
                items: [
                  {
                    value: "officer",
                    text: "A company director or other officer"
                  },
                  {
                    value: "agent",
                    text: "A company accountant or agent"
                  },
                  {
                    value: "family",
                    text: "A family member of a company officer"
                  },
                  {
                    value: "employee",
                    text: "A company employee"
                  },
                  {
                    value: "someoneElse",
                    text: "Someone else",
                    checked: otherPersonError,
                    conditional: {
                      html: someoneElseInput
                    }
                  }
                ]
              }) }}

            {{ govukButton({
              text: "Continue"
            }) }}
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}