{% extends "layout.html" %}

{% block pageTitle %}
  Unlikely appeal examples
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "/choose-reason"
}) }}
{% endblock %}
{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="interruption-card">
        <h1 class="govuk-heading-xl">Before you continue</h1>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p>Your appeal is unlikely to be successful if it is based solely on the examples below:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your company is dormant
              </li>
              <li>you cannot afford to pay
              </li>
              <li>your accountant was ill
              </li>
              <li>you relied on your accountant
              </li>
              <li>these are your first accounts
              </li>
              <li>you are not familiar with the filing requirements
              </li>
              <li>your company or its directors have financial difficulties (including bankruptcy)
              </li>
              <li>your accounts were delayed or lost in the post
              </li>
              <li>the directors live or were travelling overseas
              </li>
              <li>another director is responsible for preparing the accounts
              </li>
            </ul>
            <form action="" method="post">
              {{ govukButton({
                text: "Continue with application",
                classes: "govuk-!-margin-top-5"
              }) }}
              <p>
                <a href="/sign-out" class="govuk-link">Save and sign out</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{ govukInput({
    id: "id",
    name: "id",
    type: "hidden",
    value: id
  }) }}
  {% endblock %}