{% extends "layout.html" %}

{% block pageTitle %}
  Appeal due to documents being lost in the post
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
      text: "Back",
      href: "choose-appeal-reason"
    }) }}
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">We can't accept appeals for documents lost in the post</h1>
          <p class="govuk-body">
            To comply with the law, company accounts must be provided to Companies House by their due date. It is the responsibility of all company officers to ensure that the accounts reach us on time. We cannot accept appeals or be held responsible for errors
            or delay in the companys chosen method of delivery.
          </p>
          <h2 class="govuk-heading-m">Advice for providing your accounts</h2>
          <p class="govuk-body">
            The following advice will help to make sure your company accounts arrive safely and on time in the future.
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Send them in a well-sealed envelope</li>
            <li>Double-check the address you're sending them to</li>
            <li>Make sure you've put enough postage on them to cover delivery</li>
            <li>Allow plenty of time for them to be delivered before the due date</li>
            <li>Consider selecting a recorded or insured delivery method that guarantees delivery and can cover the cost of any delays</li>
          </ul>
        </div>
      </div>
    </main>
  </div>

{% endblock %}