{% extends "layout.html" %}

{% block pageTitle %}
  {% if penaltyErr or companyErr %}Error: {% endif %}
  Review your penalty details
{% endblock %}

{% block main %}

<div class="govuk-width-container">

  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "authenticate"
  }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Penalty details for <span class="govuk-!-font-weight-bold">MY TEST COMPANY LIMITED</span>
        </h1>
        <h2 class="govuk-heading-m">Accounts period made up to 30 April 2017</h2>
        {{ govukTable({
          caption: "Penalty details",
          firstCellIsHeader: false,
          head: [
            {
              text: "Fee"
            },
            {
              text: "Date"
            },
            {
              text: "Amount",
              format: "numeric"
            }
          ],
          rows: [
            [
              {
                text: "Late Filing Penalty"
              },
              {
                text: "15 January 2017"
              },
              {
                text: "£150",
                format: "numeric"
              }
            ]
          ]
        }) }}
        <p class="govuk-!-font-weight-bold govuk-!-font-size-24">Total amount due: &pound;150</p>
        {{ govukButton({
          text: "Continue",
          href: "choose-appeal-reason"
        }) }}
      </div>
    </div>
  </main>
</div>

{% endblock %}
